* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.all-outer {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #cccccc;
  padding: 10px;
  padding-left: 40px;
}
.all-outer-in {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.pages {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page {
  height: 100vh;
  border-color: blue;
  
  
}

.name {
  display: flex;
  height: 20vh;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  align-items: center;
  
}
.one {
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  
}
.one-inner {
  
  flex: 1;
  height: 79vh;
  justify-content: center;
 
}
.page-one-first{
    display: flex;
    flex:2;
    align-items: center;
}
.page-one-second{
    display: flex;
    flex:4;
    align-items: center;
    line-height: 35px;
    padding: 10px;
    font-size: 20px;
    font-family: ystem-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}
.title-in{
    font-size: 20px;
    font-family: ystem-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;

}
.intro-title{
    font-size: 40px;
    font-weight: bolder;
    font-family: "Russo One", sans-serif;
    margin-bottom: 20px;
}
.page-one-third{
    display: flex;
    flex:1;
    align-items: center;
}
.pro-img{
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 25vh;
    border-bottom-right-radius: 5vh;
    border-top-right-radius: 25vh;
    border-top-left-radius: 5vh;
    padding-top: 20px;
}
.pro-img img{
    height: 50vh;
    width: 50vh;
    border-bottom-left-radius: 25vh;
    border-top-right-radius: 20vh;
    border-top-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    padding:10px;
}
.rebtn:hover{
    box-shadow: none;
    background-color: #cccccc;
    border-width: .5px;
    border-style: solid;
    transition: .3s;
}
.rebtn{
    border: none;
    border-width: .5px;
    margin-top: 20px;
    padding:10px;
    border-radius: 8px;
    font-size: large;
    box-shadow: 6px 5px  rgb(189, 171, 171);

}
.contact-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top:20px;
}
.contact-icons .fa-brands{
    font-size: 40px;
    
}
.conic:hover,.contact-icons .fa-brands:hover{
    color: blue;
    transition: 1s;
}
.con-ic{
    background-color: #cccccc;
    border: none;
    
}

.two-inner{
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
}

hr{
    font-size: larger;
    font-weight: bold;
    border-color: black;
}

.hr1{
    
    flex-grow: 1;
   
    
}
.hr2{
    
    flex-grow: 1;
   
    
}
.circ{
    height: 20px;
    width: 20px;
    border-style: solid;
    border-width: .5px;
    border-radius: 10px;
}
.title-ci{
    display: flex;
    align-items: center;
    gap: 10px;
}

.two-skill{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10vh;
    margin-left: 30vh;
    margin-right: 30vh;
    
    
}
.skill-title{
    display: flex;
    align-items: center;
    gap:20px;
}
.skill-inner{
    margin-bottom: 60px;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap:15px;
}
.skill-percentage{
    display: flex;
    border-style: solid;
    height: 10px;
    border-radius: 30px;
    border-width: .5px;
    border-color: blue;
}
.skill-percentage-inner{
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    
    
}
.num{
    color: #fff;
    font-size: 10px;
}
.title-icon img{
    height: 30px;
    width: 30px;
    object-fit: contain;
}
.introduct{
    padding: 30px;
    font-family: ystem-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;

    line-height:30px;
}
.bio-dep{
    display: flex;
   
    margin-left:90px ;
    
    height: 50px;
    align-items: center;
   
    
}
.bio-title{
    margin-bottom: 30px;
    margin-left: 30px;
}
.bio-icon{
    font-size: 24px;
    width: 200px;
    display: flex;
}
.bio-info{
    font-size: 20px;
}
.bio-icon i{
    width: 50px;

}
.si{
    width: 50px;
    
}
a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.three{
    display: flex;
    justify-content: space-between;
}
.leftfoto{
    display: flex;
    align-items: center;
    
    margin-left: 40px;
    
    
}

.leftfoto-img{
    padding: 10px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
}
.three img{
    height: 500px;
    width: 500px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit: cover;
}
.projects{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 30px;
   align-items: center;
}
.project{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 600px;
    background-color:  rgb(30, 27, 27);
    color: #fff;
    padding: 10px;
    border-color:rgb(30, 27, 27)e;
    font-family: Poppins,sans-serif;
}
.project-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
    
}
.title-name{
    font-size: 30px;
    line-height: 70px;
}
.title-category{
    border-width: .5px;
    border-style: solid;
    padding: 7px;
    font-size: large;
    border-color:#259745;
}
.project-description{
    font-size: 18px;
    line-height: 30px;

}
.project-icon{
    display: flex;
    border-width: .5px;
    border-style: solid;
    padding: 7px;
    border-radius: 5px;
    width: 150px;
    font-size: large;
    border-color:#259745;
    justify-content: space-evenly;
    background-color: #29a64d;
}
.project-icon:hover{
    background-color:#259745 ;
}
.project-icon a{
    color: #fff;
}